
*.pbxproj

*.xcworkspacedata

*.xcuserstate

*.xcscheme

*.plist

*.xcbkptlist

.idea/.name

*.iml

*.iml

*.xml

*.iml

*.xml

*.iml

*.xml

.idea/xcode.xml

.idea/vcs.xml

.settings/launch.json

.idea/scopes/scope_settings.xml

*.xml

.idea/encodings.xml

*.iml

.idea/CPP_Master_Mind.iml

.idea/modules.xml
